body {
	color: #000;
}
.switcher-container {
	background-color: #000;
	width: 30%;
	padding: 1em;
}
.container-0, .container-1, .container-2 {
	border: 1px solid #000;
	font-size: 2em;
	cursor: pointer;
	text-align: center;
}
.closed {
	background: url(../images/menu.svg) no-repeat top 8px left #FFFFFF;
}
.open {
	background: url(../images/menu-open.svg) no-repeat top 8px left #FFFFFF;
}
span{
	text-transform: uppercase;
	font-family: Roboto;
}

.email-0, .email-1, .email-2 {
	width: 100%;
    height: 40%;
	background: url(../images/Gmail_logo.png) no-repeat;
	background-size: 100% 100%;
}

.email-link {
	width: inherit;
	height: 8.3em;
	display: inline-block;
}
.hidden {
	display: none;
}